{{ template "base.html" .}}

{{ define "body" }}
<div class="container">
<form method="POST"> {{ .Csrf_token }}
    <table class="table table-striped table-bordered table-hover table-nonfluid">
        {{ .Form.as_table }}
    </table>
    {{ if .Project }}
    <button class="btn btn-default" type="submit" name="id" onclick="location.href=' urlfor edit_project project.pk '">Submit</button>
    <a class="btn btn-default" href=" urlfor 'project_sessions' project.pk ">Cancel</a>
    {{ else }}
    <button class="btn btn-default" type="submit" name="id" onclick="location.href='/new_project.html'">Submit</button>
    <a class="btn btn-default" href="/home_projects.html">Cancel</a>
    {{ end}}
</form>
</div>
{{ end }}
