gym==0.18.0

Keras==2.3.0

matplotlib==3.1.1

numpy==1.17.2

pandas==0.25.2

paramiko==2.7.2

PyMySQL==0.10.1

pyparsing==2.4.2

python-dateutil==2.8.0

tensorflow==1.15.0

sklearn==0.0

DBUtils==2.0.1
